<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/welcome.css">
    <title>صفحة الترحيب</title>
</head>
<body>
    
    <div class="container">
        <h1>موقع ابراهيم راشد </h1>
        <div class="say">
            <p>
                أهلا ابراهيم او اسماء <br> 
                على العموم انا فخور انكم بتستخدموني 
            </p>
        </div>
    </div>

    <div class="option">
        <a href="php">
            <div class="male">
                <li>ابراهيم</li>
            </div>
        </a>

        <div class="female">
            <h3>أسماء</h3>

            <p>ده رابط لصفحتك يا اسماء عشان لو عايزه حاجة </p>
        </div>
    </div>
</body>
</html>